.header { background-color: rgb(213, 221, 230);

}
.logo { width: 100px;
    height: 50px;
padding-left: 20px;

}
.confirm {
    background-color: rgb(211, 219, 230);
}
h3 {font-size: small;
    text-align: center;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    width: 100%;
}
p{ 
    font-size: x-small;
}
.parent { margin: 30px;
    font-size: x-small;
    background-color: rgb(217, 223, 231);
}
.child { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.subchild {
    color: darkblue
}
.info { margin: 30px;
    background-color: rgb(222, 228, 236);
}
.subinfo {font-size: xx-small;
    padding: 15px 25px 15px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button { padding-left: 20px;
     text-align: center;
}
table { border: 1px solid black;
border-collapse: collapse;
width: 100%;
table-layout: auto;
}

th { border: 1px solid black;
    padding: 10px;
    width: 50px;
    text-align: left;
    background-color: rgb(228, 223, 223);
}

td { border: 1px solid black;
    padding: 5px;
    margin-left: 500px;
    background-color: whitesmoke;
}
.text {
    text-align: right;
}
.end {font-size: xx-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 248, 252);
    padding-top: 35px;
    padding-bottom: 35px;
}
a {
    color: blue;
}
